label.tabular{
text-align: right;
width: 270px;
display: inline-block;
}

label.tabular2{
text-align: right;
width: 100px;
display: inline-block;
}

.link-color{
  /*color: red;*/
  font-weight: bold;
  background-color: red;
}